main {
    padding: 70px 150px 70px 150px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
    background-image: linear-gradient(60deg, rgb(230, 39, 128), purple);
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    width: 400px;
    font-weight: 600;
    margin-bottom: 10px;
}

button {
    width: 220px;
    padding: 12px;
    margin-top: 20px;
    color: rgb(212, 28, 157);
    border: rgb(212, 28, 157) solid 1px;
    border-radius: 5px;
    background-color: transparent;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    text-align: center;
}

button:hover {
    box-shadow: inset 220px 0 0 0 rgb(212, 28, 157);
    color: white;
}

button i {
    margin-right: 5px;
}

.texto-email {
    margin-top: 30px;
    width: 400px;
    line-height: 20px;
    font-weight: 400;
}

.divider {
    height: 1px;
    width: 350px;
    background-color: rgba(187, 187, 187, 0.644);
    margin-top: 30px;
}

.inp-border {
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 1px rgb(212, 28, 157) solid;
    transition: ease-in-out 0.3s;
}

.inp-border:focus {
    outline: none;
    border-bottom: 1px rgba(187, 187, 187, 0.644) solid;
}

textarea {
    border: 1px rgb(212, 28, 157) solid;
    border-radius: 2px;
    transition: ease-in-out 0.3s;
}

textarea:focus {
    border: 1px rgba(187, 187, 187, 0.644) solid;
    outline: none;
}

.label {
    font-weight: 500;
    background-image: linear-gradient(60deg, rgb(230, 39, 128), purple);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 15px;
}

p, textarea {
    margin-top: 7px;
}

input[type=submit] {
    padding: 10px;
    background-image: linear-gradient(60deg, rgb(230, 39, 128), purple);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}